/* mellemrum øverst i menuen*/
.menu-toggle nav-link, .nav-item, .menu-toggle {
    padding: 4%;
}

/* placering for elementer i menuen*/
.searchContainer {
    position: relative;
    left: 18%;
    top: -10px;
}

/* bolius logo */
img {
    margin: 0;
    bottom: 30px;
    width: 6%;
    height: 20%;
}

/* Menuen med bolig, have og om*/
.centeredOptions {
    font-size: 100%;
    font-weight: lighter;
    color: #3E5959;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

/* bolius header */
header {
    padding: 1%;
    margin: 0;
    width: auto;
    background: #fff;
    z-index: 100;
    height: 59%;
    transition: all .2s ease;
}

/* Team boksens farve, tekst placering/farve */
.tema {
    padding: 4%;
    text-align: left;
    background-color: rgb(62, 89, 89);
    color: white;
}

/* Teskten "TEMA". Farve og størrelse */
.tem-text {
    color: rgb(221, 235, 235);
    font-weight: bold;
}

/* Linjeafstand i underrubrik under tema*/
p {
    line-height: 35px;
}

/* Tema rykket mere til højre og længde forkortet*/
.container {
    position: relative;
    left: 20%;
    width: 60%;
}

/* Teskten "Førstegangskøber". Størrelse */
.firstTimeBuyer {
    font-size: 250%;
    text-align: left;
}

/* Baggrundsfarve på hjemmesiden: "papir" */
body {
    background-color: rgb(242, 245, 245);
    font-family: Arial;
    margin: 0;
}

/* Information om hvordan man bruger kortet*/
.flex-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 68%;
    left: 19%;
    margin: 2%;
    padding: 4%;
    width: 60%;
    background-color: rgb(221, 235, 235);
    box-sizing: border-box;
    line-height: 35px;
}

/* tekst størrelse for "sådan bruger du kortet" og "kilde og henvisninger*/
.howToUseMapLists {
    font-size: 100%;
    padding: 1%;
    margin-left: 85px;

}

/* tekst størrelse for "sådan bruger du kortet"*/
h1 {
    font-size: 150%;
    text-align: center;
}

/* Map placering på hjemmsiden: høje, længde, i midten af hjemmesiden */
#map {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

/* Sætter alle knapperne i midten under kortet*/
.radioButtons {
    text-align: center;
}

/* grøn radio button for "gårdhaver"*/
#backGarden {
    accent-color: #3E5959;
}

/* grøn radio button for "Daginstitutioner"*/
#day-careCentre {
    accent-color: #468C8C;
}

/* sort radio button for "Vis alle"*/
#showAll {
    accent-color: black;
}

#clearAll {
    background-color: #ee5c47;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
}

/* knap om gårdhaver, daginstitutioner og vis alle */
.radioButtons {
    font-size: 110%;
    padding: 3%;
    align-items: center;
}

/* Tekst under diagrammets størrelse og placering*/
.textUnderChart {
    text-align: center;
    font-size:70%;
    font-style: italic;
}

/* Teksten "Kilder og henvisninger" størrelse og farve*/
.sources {
    font-size: 130%;
    color: rgb(62, 89, 89);
}

/* Teksten "Bidragsydere" og "henvisninger" ingen prikker ved navne/links*/
.listOfNames, .links {
    text-align: left;
}

/* Linksene til gårdhaver og daginstitutioner er farvet sorte*/
#dataAboutGarden, #dataAboutInst {
    color: black;
}

h3 {
    font-size: 100%;
}

