/* Map placering på hjemmsiden: høje, længde, i midten af hjemmesiden */
#map {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

/* Baggrundsfarve på hjemmesiden: "papir" */
body {
    background-color: rgb(242, 245, 245);
    font-family: Arial;
}

/* bolius header */
header {
    padding: 20px;
    margin: 0;
    width: auto;
    background: #fff;
    z-index: 100;
    height: 59px;
    transition: all .2s ease;
}

/* bolius logo */
img {
    margin: 5px;
    top: 20px;
    width: 100px;
    height: auto;
}

/* Menuen med bolig, have og om*/
.centeredOptions {
    font-size: 20px;
    color: #3E5959;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

/* Information om hvordan man bruger kortet*/
.flex-container {
    display: flex;
    position: absolute;
    top: 70%;
    left: 25%;
    margin: 25px;
    padding: 20px;
    font-size: 30px;
    width: 700px;
    background-color: rgb(221, 235, 235);
    font-size: 15px;

}

/* knap om gårdhaver, daginstitutioner og vis alle */
.flex-container2 {
    width: 700px;
    padding: 20px;
    margin: 25px;
    background-color: white;
    position: absolute;
    top: 90%;
    left: 25%;
    color: black;
}

/* Team boksens farve, tekst placering/farve */
.tema {
    padding: 75px;
    text-align: left;
    background-color: rgb(62, 89, 89);
    color: white;
}

/* Teskten "TEMA". Farve og størrelse */
.tem-text {
    color: rgb(221, 235, 235);
    font-weight: bold;
}

/* Teskten "Førstegangskøber". Størrelse */
.firstTimeBuyer {
    font-size: 55px;
}

/* Brødteksten i "tema" feltet. Størrelse*/
.bodyTextTema {

}

/* Boksen "kilder og henvisninger" placering, baggrundsfarve, størrelse på boksen*/
.sourcesReferences {
    display: flex;
    position: absolute;
    top: 155%;
    left: 25%;
    margin: 25px;
    padding: 20px;
    font-size: 30px;
    width: 700px;
    background-color: rgb(221, 235, 235);
    font-size: 15px;
}

/* Teksten "Kilder og henvisninger" størrelse og farve*/
.sources {
    font-size: 20px;
    color: rgb(62, 89, 89);
}

/* Teksten "Bidragsydere" og "henvisninger" ingen prikker ved navne/links*/
.listOfNames, .links {
    list-style-type: none;
    text-align: left;
}

/* Linksene til gårdhaver og daginstitutioner er farvet sorte*/
#dataAboutGarden, #dataAboutInst {
    color: black;
}